body
{
    background-color: grey;
    color: yellow;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

a
{
    color: yellow;
}

.login
{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

.user
{
    font-size: 30px;
}