{% extends "base.html" %}

{% block content %}
    <h2>Contacts</h2>
    <table id="customers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in object_list %}
            <tr>
                <td>
                    <a>{{contact.name}}</a>
                </td>
                <td>
                    {{contact.number}}
                </td>
                <td>
                    <a href="/contact/{{contact.id}}/">Details</a>
                    <a href="/contact/{{contact.id}}/update/">Edit</a>
                    <a href="/contact/{{contact.id}}/delete/">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/contact/create/">Add new contact</a>
{% endblock %}