{% extends "base.html" %}

{% block content %}
    <h2>Contacts</h2>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>number</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in object_list %}
            <tr>
                <td>
                    <a href="/contact/{{contact.id}}/">{{contact.name}}</a>
                </td>
                <td>
                    {{contact.number}}
                </td>
                <td>
                    <a href="/contact/{{contact.id}}/update/">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/contact/create/">Add new contact</a>
{% endblock %}